.about_wrapper {
    padding: 20px;
    background: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: center;
    justify-self: center;
}

.aboutTitle {
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 47px;
}

.content {
    padding: 20px;
    color: black;
    background: white;
    display: flex;
    flex-direction: column;
}
