@import "./reset";
@import "./variables/global";
@import "./themes/normal";

@font-face {
    font-family: InterCustom;
    src:
        local("InterCustom"),
        url("../../../src/fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

.app {
    color: var(--primary-color);
    background: var(--bg-color);
    font: var(--font-m);
    min-height: 100vh;
}

.page__wrapper {
    height: calc(100vh - var(--navbar-heigth));
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.page {
    height: calc(100vh - var(--navbar-heigth));
    padding: 30px;
    flex-shrink: 100;
    flex-grow: 1;
}

@media (width < 1100px) {
    .page__wrapper {
        padding: 0 20px;
    }

}
