p, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

.DeleteItem {

}

.tasksList {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: stretch;
	justify-content: center;
	gap: 10px
}

.theoryList {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	gap: 10px
}

.task {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border: 2px solid var(--inverted-bg-color);
	border-radius: 5px;
	margin-bottom: 10px;
}
