.Navbar {
    width: 100%;
    height: var(--navbar-heigth);
    padding: 20px;
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 2px solid black;
    flex-grow: 1;
}

.main_link {
    margin-right: 12px;
}


.admin_link {
    margin-left: 12px;
}
