.Navbar {
    width: 100%;
    height: var(--navbar-heigth);
    padding: 20px;
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 2px solid black;
    flex-grow: 1;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px
}
